{
	"presets":
	[
		"env",
		"react"
	],

	"plugins":
	[
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"transform-class-properties"
	],

	"env":
	{
		"development":
		{
			"presets":
			[
				"react",
				"env"
			],

			"plugins":
			[
				"transform-object-rest-spread",
				"transform-class-properties"
			]
		},
		"commonjs":
		{
			"presets":
			[
				"react",
				"env"
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }],
				"transform-object-rest-spread",
				"transform-decorators-legacy",
				"transform-class-properties"
			]
		},
		"es6":
		{
			"presets":
			[
				"react",
				["env", { modules: false }]
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }],
				"transform-object-rest-spread",
				"transform-decorators-legacy",
				"transform-class-properties"
			]
		},
		"commonjs/server":
		{
			"presets":
			[
				"react",
				"env"
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }],
				"transform-runtime",
				"transform-object-rest-spread",
				"transform-decorators-legacy",
				"transform-class-properties"
			]
		},
		"es6/server":
		{
			"presets":
			[
				"react",
				["env", { modules: false }]
			],

			"plugins":
			[
				["transform-es2015-for-of", { loose: true }],
				"transform-runtime",
				"transform-object-rest-spread",
				"transform-decorators-legacy",
				"transform-class-properties"
			]
		},
		"test":
		{
			"plugins": ["istanbul"]
		}
	}
}