# git
.gitignore

# Babel
.babelrc

# testing package
/react-pages-*.tgz

# Travis CI
.travis.yml

# tests
/test/

# test coverage folder
/coverage/
/.nyc_output/

# npm errors
npm-debug.log

# github pages
/gh-pages/

# workspace files are user-specific
*.sublime-workspace
