{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "**/*.test.js"
  ],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "all": true
}